@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* { font-family: 'Noto Sans', sans-serif; color: #333; }
body { padding: 0 15px; }

/* 'Contain' and 'Sign' Styles */
div[sign] { width: 350px; }
*[contain] {
    padding: 15px 25px;
    border-radius: 7px;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, .3);
    color: white;
}
*[contain=good] { background-color: rgb(97, 184, 97); }
*[contain=danger] { background-color:rgb(218, 72, 72); }
*[contain=warning] { background-color:rgb(233, 219, 95); color: #333; }
*[contain=dark] { background-color:rgb(61, 61, 61) }
*[contain=light] { background-color:#F0F0F0; color: #333; }
*[contain=white] { background-color:white; color: #333; }
/*   */

/* Flex */
*[flex] { display: flex; gap: 10px; flex-wrap: wrap; }
*[flex=vertical] { flex-direction: column; }
*[nowrap] { flex-wrap: nowrap; }
/* */